<footer class="my-footer pb-5">
		<div class="row ml-0 mr-0">
			<div class="col-xs-12 col-md-4  pt-5 ml-5">
				<h4>Logo</h4>
				<h6 
		
				class="pt-md-4" ><a href="index.html" style="color:white;">Home </a>·<a href="buy.html" style="color:white;"> Buy </a>· Rent · <a style="color:white;" href="../privacypolicy/privacypolicy.html">Privacy Policy</a>
				· <a style="color:white;" [routerLink]="['/contactus']" routerLinkActive="router-link-active" >Contact</a></h6>
				<h6 
				
				class="pt-md-4 ">Company name &nbsp;&nbsp;<img src="../../assets/image/Icon-Copyright.svg"/></h6>				
			</div>
			<div class="col-xs-12 ml-3 col-md-4">
				<div class="row ml-xs-5">
					<div 
					
					class="col-3 pt-5 pl-4">
							<img src="../../assets/image/Icon- Gps.svg"  style="width:60px; height: 60px;">
					</div>
					<div 
					
					class="col-9 mt-2 pt-5">
						<p style="color:#939191;  font-size: 1.3em;" class="my-maven-pro">Lorem ipsum dolor sit amet, consectateur</p>	
					</div>
				</div>
				<div class="row">
						<div 
				
						class="col-3 pt-5 pl-4">
								<img src="../../assets/image/Icon- phone.svg"  style="width:60px; height: 60px;">
						</div>
						<div 
					
						class="col-9 mt-2 pt-5">
							<p style="color:#939191; font-size: 1.3em;" class="my-maven-pro">+919879456871</p>	
						</div>
					</div>
			</div>
			<div 
			class="col-xs-12 col-md-3 pt-5 pl-5">
				<h1>About Company</h1>
				<p style="color:#939191; font-size: 1em;" class="my-maven-pro">Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.</p>
			
			</div>
		</div>
	</footer>