div.shadow {
	width: 300px;
	margin: 20px;
	border: 1px solid #ccc;
	padding: 10px;
    cursor: pointer;
}

div.shadow:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.my-mat-card
{
	margin-bottom: 2em;

}
.my-mat-card mat-card-subtitle,h4{
	color:white;
}
