<body class="sbody">
<div class="quote">
    Chase your dreams<br> but always know the road<br> that will lead you home again.
</div>
<div class="tab-content">
<div class="signup">
    <form method="POST" action="">
        <h2 class="h2header">Sign Up</h2>
        <input type="text" [(ngModel)]="username" placeholder="Username" spellcheck="false" required>
        <input type="email" placeholder="E-mail" [(ngModel)]="email" spellcheck="false" autocomplete="off" required>
        <input type="password" placeholder="Password" [(ngModel)]="password" required>
        <input type="tel" placeholder="Contact Number" [(ngModel)]="contactno" required>
        <input type="text" placeholder="Address" [(ngModel)]="address" spellcheck="false" required>
        <br>
        <input type="checkbox" value="check" required><span id="privacytext">I agree to the Privacy
            Policy</span>
        <br>
        <br>
        <input type="submit" (click)="signup()" value="Register" required>


    </form>
    <p class="link">Already have a account? <a href="#signin">Sign in</a>"</p>
    <p class="copyright">&copy; copyright 2019</p>
</div>
<div class="signin">
    <form method="POST" action="">
        <h2 class="h2header">Sign In</h2>
        <input type="email" placeholder="E-mail" [(ngModel)]="email" autocomplete="off" spellcheck="false" required>
        <input type="password" placeholder="Password" [(ngModel)]="password" autocomplete="off" required>
        <input type="submit" value="Login" (click)="signin()">

    </form>
    <p class="link">Creata a account? <a href="#signup">Sign Up</a>"</p>
    <p class="copyright">&copy; copyright 2019</p>
</div>
</div>  
<script>
    
</script>
</body>