<header>
<nav class="navbar navbar-expand-xl navbar-light bg-trasparen my-navbar pr-md-3">
    <a class="navbar-brand" href="#"><img src="assets\image\logo-final.svg" style="width:180px;" id="my_logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto ml-xs-0 ml-xl-5">
            <li class="nav-item pr-md-2 pl-xs-0  ">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item  pr-md-2 pl-xs-0 ">
                <a class="nav-link" routerLink="/buy">Buy						
                </a>
            </li>
            <li class="nav-item pr-md-2 pl-xs-0 ">
                <a class="nav-link" href="#">Rent</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto pr-md-4" *ngIf="_authService.loggedIn();else elseblock">
                <!-- <li class="nav-item my-maven-pro pl-xs-0  pr-md-5 ml-xs-0">
                        <a class="nav-link" [routerLink]="['/housedetail']" routerLinkActive="router-link-active" 
                         >House Detail</a>
                    </li>
                <li class="nav-item my-maven-pro pl-xs-0  pr-md-5 ml-xs-0">
                        <a class="nav-link" (click)="_authService.logoutUser()"
                         >Logout</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class='img-circle' width='50' height='50' src="http://localhost:8000/userphotos/{{_authService.getuserpic()}}" style="border-radius: 50%;"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown">
                          <p class="dropdown-item"><b>{{ _authService.getUsername() }}</b></p>  
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" [routerLink]="['/userprofile']" routerLinkActive="router-link-active">Your Profile</a>
                          <a class="dropdown-item" [routerLink]="['/housedetail']" routerLinkActive="router-link-active">Sell/Rent House</a>
                          <a class="dropdown-item" [routerLink]="['/contactus']" routerLinkActive="router-link-active">Contact Us</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="_authService.logoutUser()">Logout</a>
                        </div>
                      </li>
        </ul>
        <ng-template #elseblock>
            <ul class="nav navbar-nav ml-auto pr-md-4">
                <li class="nav-item my-maven-pro pl-xs-0  pr-md-5 ml-xs-0">
                        <a class="nav-link" [routerLink]="['/entry',{disp:'signup'}]" routerLinkActive="router-link-active" 
                         >Sign Up</a>
                    </li>
                    <li class="nav-item my-maven-pro  pl-xs-0 pl-xl-3 pr-md-4 ml-xs-0">
                        <a class="nav-link" [routerLink]="['/entry',{disp:'signin'}]">Login</a>
                    </li>
                    <!-- <li>
                        {{message}}
                    </li> -->
                </ul>
        </ng-template>
    </div>
</nav>
</header>
    <router-outlet></router-outlet>