@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Nunito|Patua+One|Prata&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
img
{
	transition: all 1s cubic-bezier(0, 0, 0.56, 0.87);
}
.my-navbar{
	font-size: 1.5em;
	letter-spacing: 0.01em;
	border-bottom: 0.5px solid rgb(196, 196, 196);
	padding: 0.5rem 1rem;
}
.my-maven-pro
{
	font-family: 'Maven Pro', sans-serif;
}
.my-prate-font
{
	font-family: 'Prata', serif;
}
.my-releway-font
{
	font-family: 'Raleway', sans-serif;
}
.my-patua-font
{
	font-family: 'Patua One', cursive;
}
.my-head
{
		font-size: 2.5em;
}
.my-active
{
	display: block;
}
.my-inactive
{
	display: none;
}
#login-btn
{	
	border-radius: 10px;
	background-color: white;
}
.my-hero-jumbotron {
  color: white;
  background-image: url("assets/image/ny.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.city-input {
  /*	width: 220px;*/
  padding-left: 20px;

  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 45px;
  box-shadow: inset 0 0 4px #3399FF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('assets/image/down-arrow.svg') 150px / 35px no-repeat #eee;
  background-position: top 5px right 5px;

}
.city-search
{
	padding-left: 20px;

  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 45px;
  box-shadow: inset 0 0 4px #3399FF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('assets/image/Icon-Search.svg') 150px / 35px no-repeat #eee;
  background-position: top 5px right 5px;
  
}
.my-btn
{
	background-color: #008cff;
	font-size: 1.2rem;
	color: white;
	font-weight: bold;
}
.buy-rent
{
	
	height: 45px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 0px;
	border: 5px solid white; 	
	border-radius: 7px;
	background: transparent;
	color: white;
}
.buy-rent:hover
{
	background-color: white;
	color: black;
}
.my-footer
{
	background-color: black;
	color: white;
}	

.my-footer h2 
{
	color: white;
}
.my-footer h3 
{
	color: white;
}
.my-footer h4 
{
	color: white;
}
.my-footer h5 
{
	color: white;
}
.my-footer p 
{
	color: #939191;
} 
@keyframes animation-init
{
	0%
	{
		display:block;
		opacity: 1;
	}
	100%
	{
		display:none;
		opacity: 0;
	}
}
@media screen and (min-width: 1200px)
{
	#carousel-homepage-city1
	{
		height: 95vh;
		width: 100vw;
		overflow: hidden;
	}
	.my-head
	{
		font-size: 2.5em;
	}
	#my-text-date
	{
		left: 38vw;
	}
	#Search-bar
	{
		bottom: -30vh;
	}
	#login-btn
	{
		transition: all 0.5s ease-in-out;
		border: 2px solid black; 	
	}
	#login-btn:hover
	{		
		background: black;		
	}
	#login-btn:hover a
	{		
		color: white;
	}
	/*#my-text-hand
	{
		left: 41vw;
	}*/

}

@media screen and (max-width: 800px)
{
	.my-head
	{
		font-size: 1.5em;
	}
	#my-text-date
	{
		left: 27vw;
	}
	
	/*#my-text-hand
	{
		left: 35vw;
	}*/
}
@media screen and (min-width: 800px) and (max-width : 1200px)
{
	#my-text-date
	{
		left: 27vw;
	}
	/*#my-text-hand
	{
		left: 50vw;
	}*/
	
}
@media screen and (min-width: 800px) and (max-width : 1200px)
{
	#my-text-date
	{
		left: 27vw;
	}
}


